streamlit==1.25.0
opencv-python-headless==4.8.0.76
numpy==1.23.5
fer==22.4.0
streamlit-webrtc==0.45.0
av==10.0.0
tensorflow==2.13.0
keras==2.13.1
requests==2.31.0
Pillow==9.5.0
protobuf==4.23.4
scipy==1.11.1
matplotlib==3.7.2
pandas==2.0.3
h5py==3.8.0
aiortc==1.4.0
aioice==0.7.8
asyncio==3.4.3
typing_extensions==4.5.0
python-socketio==5.8.0
watchdog==3.0.0