streamlit
opencv-python-headless
numpy
fer
streamlit-webrtc
av
tensorflow
requests
Pillow
protobuf
scipy
matplotlib
pandas
h5py
aiortc
aioice
typing_extensions
python-socketio
watchdog
opencv-python
mtcnn